html {
	--offset: 10px;
}
* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
}

.container {
    max-width: 1200px;
	margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.container-book{
    margin-bottom: 80px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(100% / 12 * 3 - var(--offset));
    box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
    border-radius: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    word-wrap:break-word;

   
}
.container-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    border-top: 1px solid rgb(109, 107, 107);
    


}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    justify-content: center;
    
}
.container-button-border{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
    height: 30px;
    border-right: 0px solid rgb(109, 107, 107);
    width: 50%;
    
    
}
.container-button-delet{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    align-items: center;
    height: 30px;
    border-left: 1px solid rgb(109, 107, 107);
    width: 50%;
    
    
}
.author{
    background-color: rgb(118, 182, 234);
    border-radius: 3px;
    display:inline-block;
    text-align: center;
    word-wrap:break-word;
    padding: 5px;
    
}
h1{
    font-weight: 600;
    font-size: 48px;
    
}
h2{
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    width: 120px;
    
    margin: 0 auto;
}
.container-book-img{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.button-add{
    background-color: rgb(118, 182, 234);
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;

}
.button-add:hover {
    background-color:rgb(190, 224, 252);
    transition: 1s;
}
header{
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-form{
    padding: 20px 60px;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items:  stretch;
    font-weight: 600;
    font-size: 16px;    
}
.add-modal{
    background-color: rgba(0, 0, 0, 0.27);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
input{
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    width: 350px;
    height: 30px;
    background-color: #fff;
    border-bottom: 2px solid rgb(118, 182, 234);
    background-color: rgb(221, 221, 221);
    opacity: 30%;
    border-radius: 5px;
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}
.button-save{
    margin-top: 15px;
    background-color: rgb(190, 224, 252);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
    margin-right: 10px;

}
.button-save:hover {
    background-color:rgb(118, 182, 234);
    transition: 1s;
}
.input-form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.title{
    border: 2px solid rgb(118, 182, 234);
    border-radius: 5px;
    padding: 10px 20px;
}
.input-form_margin{
    margin-top:70px;
}

@media (max-width: 600px){

	.container {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-book{
        margin-top: 25px;
        margin-bottom: 25px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: calc(100% / 12 * 8 - var(--offset));
        box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
        border-radius: 10px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        word-wrap:break-word;
    
       
    }
    header{

        flex-direction: column;


    }
    h1 {
        font-weight: 600;
        font-size: 48px;
        text-align: center;
    }
    .input-form {
        font-size: 22px;
    }
    .input-form_margin {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .button-add {
        margin-top: 30px;
    padding: 30px 50px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 20px;
        
    }

}